.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: radial-gradient(circle, rgba(50, 201, 183, 1) 0%, rgba(50, 201, 183, 0) 75%);
  background-size: 100% 110%;
}

@media (max-width: 375px) {
  .container {
    padding: 10px;
  }
}
